<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org/DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="lazyLoadingEnabled" value="false"/>
	</settings>
	<!-- 全限定类别名，方便sql语句映射文件中入参类型为对象时，使用对象的别名，简化配置 -->
	<typeAliases>
		<typeAlias alias="User" type="com.lydck.domain.User"/>	
	</typeAliases>
</configuration>